
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="CSS/home.css">

<script>

</script>

</head>
<body>
 	 Welcome
 	 <a href="/logout"> logout </a>
 	 
 	 <h1>Upload a link</h1>
<script src="https://apis.google.com/js/platform.js" async defer></script>

	
	<form action="newlist" method='POST' >
		<table>
		<tr>
		<td>Create New List:</td>
		<td><input type="text" name="listName"> <br></td>
		</tr>
		<tr>
		<td><input name="submit" type="submit" value="submit"> <br></td>
		</tr>
		</table>
		</form>
		<div class="Images" >
	
		<table>
		 <tr th:each="Content : ${contentLists}" >
        	<td>
        	<div class="image-area">
        	<a th:href="@{${'/list?Cid=' + Content.key}}" >
        	<img th:src = "@{${'/photos/listplaceholder.png'}}" alt = "Image Did not Load Try Again Later"/></a>
        	<a class="remove-image" th:href="@{${'/deletelist?listID=' + Content.key}}" style="display: inline;">&#215;</a>
        	</div>
        	</td>
        	<td th:text= "${Content.value.listtitle}">Title</td>
        	</tr>
        </table>
   
		</div>

</body>
</html>