
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Your List</title>

<link rel="stylesheet" type="text/css" href="CSS/home.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
 var fileInput = document.getElementById("document_attachment_doc");


window.addEventListener('paste', e => {
	var fileInput = document.getElementById("document_attachment_doc");
	if(e.clipboardData.files.length != 0){
	fileInput.files = e.clipboardData.files;}
	});

function chgAction(){
	var imgpath = document.forms["contsubmit"]["imgpath"].value;
	var upimg = document.forms["contsubmit"]["file"].value;
	if(imgpath=="" && upimg==""){
		document.forms["contsubmit"].action = "/selectImg";

		}
}
function hideForAuto(){
	var inputs = document.getElementsByClassName('manual');
	for(var i =0; i< inputs.length; i++){
		inputs[i].style.visibility = "hidden";
	}
}
function showForManual(){
	var inputs = document.getElementsByClassName('manual');
	for(var i =0; i< inputs.length; i++){
		inputs[i].style.visibility = "visible";
	}
}


</script>

</head>
<body>
<div class= "header">
<a href="/"><img src="images/mainlogo.png" alt="Wishes" id="mainlogo"/>	</a>
<form name="logout" method="post" action="logout">
 	 <label class="logoutLblPos">
 	 <input type="image"  name="logout"  value="log out" src="images/logout.png">
 	 </label>
	</form>
</div>

 	  
 	 
 	 <h1>New Item</h1>


	
	<div class="box">
	
	
	<form name=contsubmit action="newItem" method='POST' enctype="multipart/form-data" onsubmit="chgAction()">
		<table>
		
		<tr>
		<td>Link to you item:*</td>
		<td><input type="url" name="link"/></td>
		<td><input name="submit" type="submit" value="submit"> </td>
		<tr>
		<td>
		<input type="radio" onchange="hideForAuto()" name="autoormanual" checked>Automatic </td>
		<td>
		<input type="radio" onchange="showForManual()" name="autoormanual" checked>Manual </td>
		</tr>
		<tr class = "manual" >
		<td>Link to a image of the item:</td>
		<td><input type="url" name="imgpath"/></td>
		<td> Or  Select Image:</td>
		<td> <input type="file"   id="document_attachment_doc" name="file" accept="image/*"/></td>
		</tr>
		<tr class = "manual" >
		<td>Name of the item:</td>
		<td><input type="text" name="title" maxlength="50"/></td>
		</tr>
		
		<tr>
		<td><input type="hidden" name ="listID" th:value= "${modelAndView.model.listID}"/></td>
		</table>
		</form>
		</div>
		<div class="images" >
		<!-- <img th:src = "@{${'/photos/' + Contentimages.link}" alt = ""/>-->
		
		 <div th:each="Content : ${contentImages}">
        	
        	
        	<div class="image-area">
        	<a th:href="${Content.value.link}" target="_blank">
        	<img th:src = "@{${'/photos/' +Content.value.imgpath}}" alt = "Image Did not Load Try Again Later" /> 
        	<label class="title" th:text="${Content.value.title}">Title</label></a>
        	<a class="remove-image" th:href="@{${'/deleteimg?img_id=' + Content.value.img_id+'&listID=' +modelAndView.model.listID}}" style="display: inline;">&#215;</a>
			
			</div>
        	
        	
        	
       </div>
   
		</div>
		
		<!-- <table>
       		<tr th:each="anews : ${Content.value}">
       		<tr th:each="nkey : ${anews.key}">
       		<td> <img th:src = "@{${'/photos/' + nkey.imgPath}" alt = ""/></td>
       		  </tr> -->
		
		
		
 	 
 	 
 	 
 	 
 	 
 	 
 	 
 	 
 	 
 	 
 	 
</body>
</html>