<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Select the image you would like to use</title>
<link rel="stylesheet" type="text/css" href="CSS/home.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="images/mainlogo.png" >

</head>
<body>
		<h1>Select The Image You Would Like to Use:</h1>
		<h4>(If this page is empty something went wrong Please use the manual Image Selection)</h4>
		<div class="images" >
		<div th:each="Content : ${Images}">
        	<!-- <td th:text="${Content.key}">Key</td>-->
        	
        	<div class="image-area">
        	<a th:href="@{'/newItem'(imgpath=${Content}, listID=${modelAndView.model.listID}, link=${modelAndView.model.contLink},title=${modelAndView.model.title})}">
        	<img th:src = "${Content}"  onerror='this.style.display = "none"' />
        	</a>
			</div>
        	
        	
        	</div>
      </div>
				
		
</body>
</html>