<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Wishes Thank You</title>
<link rel="stylesheet" type="text/css" href="CSS/login.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="box">
<img src="images/mainlogo.png" alt="Wishes" id="mainlogo"/>
<h1 style = "color: #3f002f; padding-bottom:100px; margin-left: auto; margin-right: auto; display: block; text-align: center; font-size:50px;">Thank You</h1>

	<form action="/login">
    <input type="submit" name="login" value ="Login Page"/>
    </form>
</div>
</body>
</html>